<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642506164049-bftd4inkr8k1rf351etvuif6b46185dr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642506164049-bftd4inkr8k1rf351etvuif6b46185dr</string>
	<key>API_KEY</key>
	<string>AIzaSyCRMfW7ygEunzQXzTwT0dnGWUHNZnniWcg</string>
	<key>GCM_SENDER_ID</key>
	<string>642506164049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.singsing.appdev</string>
	<key>PROJECT_ID</key>
	<string>singsing-dev-89290</string>
	<key>STORAGE_BUCKET</key>
	<string>singsing-dev-89290.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642506164049:ios:ca1555f7490ab5db03f570</string>
</dict>
</plist>